**<h1 align="center"> Database Engineer Capstone Project </h1>**
**<h2 align="center"> Little Lemon database client</h2>**
**<h3 align="right"> Prepared by: Nolly Gael Pierre</h3>**

## **Section 1: Setting up the database**

#### **Importation of the mysql connector**

In [4]:
import mysql.connector as connector

#### **Establish connection between python and mysql**

In [6]:
connection = connector.connect(user="root", password="newpassword", db = "LittleLemondb")
print("Connection established")

Connection established

In [8]:
# cursor object
cursor = connection.cursor()

In [10]:
print(connection.database)

littlelemondb

##### Task two

In [12]:
# show tables
show_tables_query = "show tables"
cursor.execute(show_tables_query)
results = cursor.fetchall()
for result in results:
    print(result)

('bookings',)
('customers',)
('delivery',)
('menu_menuitems',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)
('staff',)

#### task 3

In [30]:
# name and contact details for every customer that has placed an order greater than $60
join_query = """select concat(c.clientfirstname," ",c.clientlastname) as "Customer Name",
c.phonenumber, c.email, o.billamount as "Total Cost"
from customers as c
join bookings as b on c.clientid = b.clientid
join orders as o on b.bookingid= o.bookingid
where o.billamount > 60;"""
cursor.execute(join_query)
results = cursor.fetchall()
# extract columns' names
columns = cursor.column_names
print("{:<20} \t{:<20} \t{:<20}  \t{:>18}".format(*columns))
for result in results:
    print("{:<20} \t{:<20} \t{:<20}  \t${:<20.2f}".format(*result))

Customer Name        	phonenumber          	email                 	        Total Cost
Sarah Miller         	6789012345           	sarah.miller@example.com  	$85.50
Jessica Taylor       	8901234567           	jessica.taylor@example.com  	$152.25
Laura Harris         	0123456789           	laura.harris@example.com  	$99.00
Michael Brown        	3456789012           	michael.brown@example.com  	$81.75
David Wilson         	5678901234           	david.wilson@example.com  	$180.00
Chris Anderson       	7890123456           	chris.anderson@example.com  	$135.00
Daniel Thomas        	9012345678           	daniel.thomas@example.com  	$167.25